---

---

<section>
  <footer>
    <header>
      <p>Tomás Flores - Portfolio de actor</p>
      <p>2024</p>
    </header>
  </footer>
</section>

<style>
  section {
    height: 60px;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
