---

---

<section class="section" id="galeria">
  <h1>Galeria</h1>
  <div class="galeria">
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-1.webp"
        data-full="/gallery/thumb-1.webp"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-2.webp"
        data-full="/gallery/full-2.webp"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-3.webp"
        data-full="/gallery/full-3.jpg "
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-4.webp"
        data-full="/gallery/thumb-4.webp"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-5.jpg"
        data-full="/gallery/thumb-5.jpg"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-6.jpg"
        data-full="/gallery/full-6.jpg"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-7.webp"
        data-full="/gallery/full-7.webp"
        alt=""
      />
    </div>
    <div class="img-container">
      <img
        src="/Tomas-Flores-Actor-Portfolio/gallery/thumb-8.webp"
        data-full="/gallery/full-8.webp"
        alt=""
      />
    </div>
  </div>
</section>

<aside id="lightbox" class="lightbox">
  <div>
    <i id="close" class="fa-solid fa-circle-xmark"></i>
    <i id="prev" class="fa-solid fa-circle-arrow-left light-btn"></i>
    <img id="full-img" src="" alt="" />
    <div class="btn-container">
      <i id="prev-mobile" class="fa-solid fa-circle-arrow-left light-btn"></i>
      <i id="next" class="fa-solid fa-circle-arrow-right light-btn"></i>
    </div>
  </div>
</aside>

<script>
  const lightbox = document.getElementById("lightbox");
  const thumbnail = document.querySelectorAll(".galeria img");
  const fullImage = document.getElementById(
    "full-img"
  ) as HTMLImageElement | null;
  const prevBtn = document.getElementById("prev");
  const prevMobile = document.getElementById("prev-mobile");
  const nextBtn = document.getElementById("next");
  const close = document.getElementById("close");

  let currentImageIndex = 0;

  function openLightbox(imageSrc: string) {
    if (fullImage && lightbox) {
      fullImage.src = imageSrc;
      lightbox.style.display = "flex";
    }
  }

  function closeLightbox() {
    if (lightbox) {
      lightbox.style.display = "none";
    }
  }

  function showPrevImage() {
    currentImageIndex =
      (currentImageIndex - 1 + thumbnail.length) % thumbnail.length;
    const nextImageSrc = thumbnail[currentImageIndex].getAttribute("data-full");
    if (nextImageSrc) {
      openLightbox(nextImageSrc);
    }
  }

  function showNextImage() {
    currentImageIndex =
      (currentImageIndex + 1 + thumbnail.length) % thumbnail.length;
    const nextImageSrc = thumbnail[currentImageIndex].getAttribute("data-full");
    if (nextImageSrc) {
      openLightbox(nextImageSrc);
    }
  }

  thumbnail.forEach((image, index) => {
    image.addEventListener("click", () => {
      currentImageIndex = index;
      const fullImageSrc = image.getAttribute("data-full");
      if (fullImageSrc) {
        openLightbox(fullImageSrc);
      }
    });
  });

  close?.addEventListener("click", closeLightbox);
  prevBtn?.addEventListener("click", showPrevImage);
  nextBtn?.addEventListener("click", showNextImage);
  prevMobile?.addEventListener("click", showPrevImage);

  window.addEventListener("click", (event) => {
    if (event.target === lightbox) {
      closeLightbox();
    }
  });
</script>

<style>
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181a1b;
  }

  h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #fff;
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 80%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0 80px 0;
    overflow: hidden;
  }

  .galeria img {
    width: 100%;
    vertical-align: middle;
    height: 300px;
    object-fit: cover;
    transition: transform ease 0.4s;
    overflow: hidden;
    cursor: pointer;
  }

  .galeria div {
    overflow: hidden;
    display: block;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .galeria img:hover {
    transform: scale(1.2);
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .lightbox img {
    max-height: 85vh;
    max-width: 90vw;
    object-fit: contain;
  }

  .lightbox div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  #close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: #7a0c1e;
    cursor: pointer;
  }

  #close:hover {
    color: #5f1521;
  }

  #prev-mobile {
    display: none;
  }

  .light-btn {
    color: #eee;
    font-size: 50px;
    cursor: pointer;
  }

  .light-btn:hover {
    color: #848484;
  }

  @media screen and (max-width: 900px) {
    #close {
      top: 5%;
      right: 5%;
    }

    #prev {
      display: none;
    }

    #prev-mobile {
      display: block;
    }

    .lightbox div:first-child {
      flex-direction: column;
      gap: 50px;
    }

    .btn-container {
      width: 100%;
    }
  }
</style>
