---

---

<section class="section" id="galeria">
  <h1>Galeria</h1>
  <div class="galeria">
    <a href="#image1">
      <img src="Tomas-Flores-Actor-Portfolio/gal1.webp" alt="" /></a
    >

    <a href="#image2">
      <img src="Tomas-Flores-Actor-Portfolio/Tom11 (1).webp" alt="" /></a
    >

    <a href="#image3">
      <img src="Tomas-Flores-Actor-Portfolio/gal3.webp" alt="" /></a
    >

    <a href="#image4">
      <img src="Tomas-Flores-Actor-Portfolio/Tom55554.webp" alt="" /></a
    >

    <a href="#image5">
      <img src="Tomas-Flores-Actor-Portfolio/Tom11 (1).webp" alt="" /></a
    >

    <a href="#image6">
      <img src="Tomas-Flores-Actor-Portfolio/gal1.webp" alt="" /></a
    >

    <a href="#image7">
      <img src="Tomas-Flores-Actor-Portfolio/Tom55554.webp" alt="" /></a
    >

    <a href="#image8">
      <img src="Tomas-Flores-Actor-Portfolio/gal3.webp" alt="" /></a
    >
  </div>
</section>

<article class="light-box" id="image1">
  <a href="#image8" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom9 (1).webp" alt="" />
  <a href="#image2" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image2">
  <a href="#image1" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom11 (1).webp" alt="" />
  <a href="#image3" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image3">
  <a href="#image2" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom19 (1).webp" alt="" />
  <a href="#image4" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image4">
  <a href="#image3" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom55554.webp" alt="" />
  <a href="#image5" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image5">
  <a href="#image4" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom11 (1).webp" alt="" />
  <a href="#image6" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image6">
  <a href="#image5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom9 (1).webp" alt="" />
  <a href="#image7" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image7">
  <a href="#image6" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom55554.webp" alt="" />
  <a href="#image8" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<article class="light-box" id="image8">
  <a href="#image7" class="next"><i class="fa-solid fa-arrow-left"></i></a>
  <img src="Tomas-Flores-Actor-Portfolio/Tom19 (1).webp" alt="" />
  <a href="#image1" class="next"><i class="fa-solid fa-arrow-right"></i></a>
  <a href="#galeria" class="close">X</a>
</article>

<style>
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 50px;
    margin-top: 40px;
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 80%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0 80px 0;
    overflow: hidden;
  }

  .galeria img {
    width: 100%;
    vertical-align: middle;
    height: 300px;
    object-fit: cover;
    transition: transform ease 0.4s;
    overflow: hidden;
  }

  .galeria a {
    overflow: hidden;
    display: block;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .galeria img:hover {
    transform: scale(1.2);
  }

  .light-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }

  .light-box img {
    width: 75vw;
    max-height: 70vh;
    object-fit: contain;
  }

  .light-box:target {
    transform: scale(1);
  }

  .close {
    display: block;
    position: absolute;
    top: 90px;
    right: 200px;
    background-color: #7a0c1e;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
  }

  .next {
    display: block;
    top: 60px;
    right: 60px;
    background-color: #7a0c1e;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
</style>
