---

---

<section id="home" class="section">
  <header class="header">
    <div class="container">
      <h1>
        TOMÁS<br />
        <strong>FLORES</strong>
      </h1>
      <p>ACTOR / PROFESOR DE TEATRO</p>
    </div>
  </header>
</section>

<style>
  .section {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/Tomas-Flores-Actor-Portfolio/tomas-flores-actor.webp");
    background-size: cover;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 95%;
    height: 95%;
    gap: 40px;
  }

  .header h1 {
    font-size: 100px;
    font-style: italic;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    line-height: 10vh;
    gap: 0px;
  }

  h1 strong {
    color: #7a0c1e;
  }

  .header p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;
    font-weight: 500;
    line-height: 1.3em;
    text-wrap: pretty;
    max-width: 85%;
  }

  .container {
    margin: 100px 7% 0 0;
    border: 2px solid #ffffff;
    position: relative;
    width: 30%;
    min-width: 400px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    .section {
      background-image: url("/Tomas-Flores-Actor-Portfolio/tomas-flores-actor-1300.webp");
    }
  }
  @media screen and (max-width: 700px) {
    .section {
      background-image: url("/Tomas-Flores-Actor-Portfolio/tomas-flores-actor-mobile1.webp");
      background-position: center;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 50px 0;
    }

    .container {
      margin: 0;
      margin-bottom: 20px;
      min-width: 350px;
      height: 250px;
    }

    .header h1 {
      font-size: 80px;
    }

    .header p {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 500px) {
    .section {
      background-image: url("/Tomas-Flores-Actor-Portfolio/tomas-flores-actor-mobile.webp");
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }

  @media screen and (max-width: 450px) {
    .container {
      margin: 0;
      margin-bottom: 20px;
      min-width: 80%;
      height: 250px;
      object-fit: contain;
    }

    .container h1 {
      font-size: 70px;
    }
  }

  @media screen and (max-width: 424px) {
    .header p {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1150px) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding: 50px 0;
    }

    .container {
      margin: 0;
      margin-bottom: 20px;
      min-width: 377px;
      height: 250px;
    }

    .container h1 {
      font-size: 70px;
    }
  }

  @media (max-height: 700px) {
    .header {
      padding: 15px 0;
    }
  }
</style>
