<section class="projects-section">
  <div class="projects-container">
    <h1>Ultimos Proyectos</h1>
    <div class="projects">
      <h2>Sombrales</h2>
      <div class="video-container">
        <lite-youtube class="video" videoid="8rffuz7cgtY"></lite-youtube>
      </div>
      <p>
        - Tomás llega al pueblo de Sombrales en busca de su esposa desaparecida,
        pero lo que va a encontrar ahí es algo mucho mas inquietante -
      </p>
    </div>
  </div>
</section>

<style>
  .projects-section {
    background-color: #8f1d30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }

  h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 40px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 20px 0;
    border: 5px solid black;
    gap: 20px;
    width: 900px;
  }

  h2 {
    color: #fff;
    font-size: 40px;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #6f1927;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0 20px;
  }
</style>
