---
interface Props {
  title: string;
}

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomás Flores - Actor Portfolio</title>
    <meta name="description" content="Descubre el portafolio de Tomás Flores, un talentoso actor con experiencia en teatro, cine y televisión. Conoce sus proyectos, biografía y más.">
    <meta name="keywords" content="Tomás Flores, actor, portafolio de actor, cine, teatro, televisión, actuación">
    <meta name="author" content="Tomás Flores">
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="K7YDAjcGIFc5_WPW6xF3iKEOZElXS0xR-KqZvgshaj8"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Tomas-Flores-Actor-Portfolio/caras2rw.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/">
  <meta property="og:title" content="Tomás Flores - Actor Portfolio">
  <meta property="og:description" content="Descubre el portafolio de Tomás Flores, un talentoso actor con experiencia en teatro, cine y televisión. Conoce sus proyectos, biografía y más.">
  <meta property="og:image" content="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/images/portada.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/">
  <meta property="twitter:title" content="Tomás Flores - Actor Portfolio">
  <meta property="twitter:description" content="Descubre el portafolio de Tomás Flores, un talentoso actor con experiencia en teatro, cine y televisión. Conoce sus proyectos, biografía y más.">
  <meta property="twitter:image" content="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/images/portada.jpg">
  
  <link rel="canonical" href="https://tomasrome.github.io/Tomas-Flores-Actor-Portfolio/">
  <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/6c1ab8f124.js"
    crossorigin="anonymous"></script>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
